.container{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    align-content:center;
    flex-wrap: wrap;
    justify-content: center;


}
.item{
    background: #0bd;
    color: #fff;
    margin: 10px;
    padding: 10px;


}